# Day 01 - Data Overview

## Objective
Understand dataset structure, column information, and overaall data quality before deeper analysis.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../datasets/Medical_Device_Failure_dataset.csv")

In [3]:
df.head()

,Device_ID,Device_Type,Purchase_Date,Age,Manufacturer,Model,Country,Maintenance_Cost,Downtime,Maintenance_Frequency,Failure_Event_Count,Maintenance_Class,Maintenance_Report
0,MD03449,Defibrillator,2018-04-23,7,CardioSync,Model-100,France,7115.349585,7.933824,3,0,1,Component component upgrade after detecting ov...
1,MD02024,Infusion Pump,2020-12-10,5,MedEquip,Model-650,Italy,7290.780658,7.838711,3,4,2,battery wear caused operational delay; replace...
2,MD04239,MRI Scanner,2023-11-22,2,ImagingTech,Model-650,France,5635.521788,13.911045,1,2,3,data lag caused operational delay; component u...
3,MD00153,Defibrillator,2021-03-03,4,RescueTech,Model-450,UK,5001.360188,29.059510,3,1,3,Routine check completed; battery wear observed...
4,MD03743,Defibrillator,2019-05-16,6,RescueTech,Model-450,Canada,7555.132928,13.942355,4,4,2,Component inspection after detecting voltage s...

In [4]:
df.shape

(4149, 13)

The dataset contains 4149 rows and 13 columns.

In [5]:
df.columns

Index(['Device_ID', 'Device_Type', 'Purchase_Date', 'Age', 'Manufacturer',
       'Model', 'Country', 'Maintenance_Cost', 'Downtime',
       'Maintenance_Frequency', 'Failure_Event_Count', 'Maintenance_Class',
       'Maintenance_Report'],
      dtype='str')

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 4149 entries, 0 to 4148
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Device_ID              4149 non-null   str
 1   Device_Type            4149 non-null   str
 2   Purchase_Date          4149 non-null   str
 3   Age                    4149 non-null   int64
 4   Manufacturer           4149 non-null   str
 5   Model                  4149 non-null   str
 6   Country                4149 non-null   str
 7   Maintenance_Cost       4149 non-null   float64
 8   Downtime               4149 non-null   float64
 9   Maintenance_Frequency  4149 non-null   int64
 10  Failure_Event_Count    4149 non-null   int64
 11  Maintenance_Class      4149 non-null   int64
 12  Maintenance_Report     4149 non-null   str
dtypes: float64(2), int64(4), str(7)
memory usage: 421.5 KB

This helps verify non-null counts and undersatnd categorical vs numerical columns.

In [7]:
df.describe()

,Age,Maintenance_Cost,Downtime,Maintenance_Frequency,Failure_Event_Count,Maintenance_Class
count,4149.000000,4149.000000,4149.000000,4149.00000,4149.000000,4149.000000
mean,6.717763,8643.595669,10.621367,3.01181,1.957821,2.000000
std,3.175610,5930.038551,7.099434,1.42173,1.413328,0.816595
min,1.000000,-5747.932890,0.950068,1.00000,0.000000,1.000000
25%,4.000000,4451.775127,5.066061,2.00000,1.000000,1.000000
50%,7.000000,7213.575604,8.862348,3.00000,2.000000,2.000000
75%,9.000000,12023.912821,14.638223,4.00000,3.000000,3.000000
max,12.000000,34937.222389,34.152648,5.00000,10.000000,3.000000

Provides distribution, central tendency, and spread of numerical variables.

In [8]:
df.isnull().sum()

Device_ID                0
Device_Type              0
Purchase_Date            0
Age                      0
Manufacturer             0
Model                    0
Country                  0
Maintenance_Cost         0
Downtime                 0
Maintenance_Frequency    0
Failure_Event_Count      0
Maintenance_Class        0
Maintenance_Report       0
dtype: int64

No missing values were detected across the dataset.

In [9]:
df.duplicated().sum()

np.int64(0)

No duplicate records were found.

## Closing Summary

on Day 01, the dataset was loaded and inspected for structure and quality.

Findings:
- Data types are consistent.
- No missing values present.
- No duplicate rows detected.
- Numerical columns show reasonable ranges.

The dataset is suitable for further cleaning, transformation, and exploratory analysis in the upcoming steps.