# Day 02 - Data Cleaning & Validation

## Objective
Ensure the dataset is accurate, consistent, and ready for exploratory analysis.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../datasets/Medical_Device_Failure_dataset.csv")
df.head()

,Device_ID,Device_Type,Purchase_Date,Age,Manufacturer,Model,Country,Maintenance_Cost,Downtime,Maintenance_Frequency,Failure_Event_Count,Maintenance_Class,Maintenance_Report
0,MD03449,Defibrillator,2018-04-23,7,CardioSync,Model-100,France,7115.349585,7.933824,3,0,1,Component component upgrade after detecting ov...
1,MD02024,Infusion Pump,2020-12-10,5,MedEquip,Model-650,Italy,7290.780658,7.838711,3,4,2,battery wear caused operational delay; replace...
2,MD04239,MRI Scanner,2023-11-22,2,ImagingTech,Model-650,France,5635.521788,13.911045,1,2,3,data lag caused operational delay; component u...
3,MD00153,Defibrillator,2021-03-03,4,RescueTech,Model-450,UK,5001.360188,29.059510,3,1,3,Routine check completed; battery wear observed...
4,MD03743,Defibrillator,2019-05-16,6,RescueTech,Model-450,Canada,7555.132928,13.942355,4,4,2,Component inspection after detecting voltage s...

In [3]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df.columns

Index(['device_id', 'device_type', 'purchase_date', 'age', 'manufacturer',
       'model', 'country', 'maintenance_cost', 'downtime',
       'maintenance_frequency', 'failure_event_count', 'maintenance_class',
       'maintenance_report'],
      dtype='str')

In [4]:
df.columns.duplicated().sum()

np.int64(0)

In [5]:
for col in df.columns:
    print(col)

device_id
device_type
purchase_date
age
manufacturer
model
country
maintenance_cost
downtime
maintenance_frequency
failure_event_count
maintenance_class
maintenance_report

Column names were standardized by removing spaces, converting to lowercase, and applying snake_case formatting. This ensures consistency and easier reference during analysis.

In [6]:
df.dtypes

device_id                    str
device_type                  str
purchase_date                str
age                        int64
manufacturer                 str
model                        str
country                      str
maintenance_cost         float64
downtime                 float64
maintenance_frequency      int64
failure_event_count        int64
maintenance_class          int64
maintenance_report           str
dtype: object

Verified numerical and categorical columns for appropriate formats.

In [7]:
df['purchase_date'] = pd.to_datetime(df['purchase_date'])

In [8]:
df['purchase_date'].dtype

dtype('<M8[us]')

In [9]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 4149 entries, 0 to 4148
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   device_id              4149 non-null   str
 1   device_type            4149 non-null   str
 2   purchase_date          4149 non-null   datetime64[us]
 3   age                    4149 non-null   int64
 4   manufacturer           4149 non-null   str
 5   model                  4149 non-null   str
 6   country                4149 non-null   str
 7   maintenance_cost       4149 non-null   float64
 8   downtime               4149 non-null   float64
 9   maintenance_frequency  4149 non-null   int64
 10  failure_event_count    4149 non-null   int64
 11  maintenance_class      4149 non-null   int64
 12  maintenance_report     4149 non-null   str
dtypes: datetime64[us](1), float64(2), int64(4), str(6)
memory usage: 421.5 KB

In [10]:
df[['purchase_date']].head()

  purchase_date
0    2018-04-23
1    2020-12-10
2    2023-11-22
3    2021-03-03
4    2019-05-16

In [11]:
df['purchase_date'].dt.year

0       2018
1       2020
2       2023
3       2021
4       2019
        ...
4144    2024
4145    2019
4146    2023
4147    2017
4148    2022
Name: purchase_date, Length: 4149, dtype: int32

In [12]:
df['purchase_date'].dt.month

0        4
1       12
2       11
3        3
4        5
        ..
4144     1
4145     8
4146     7
4147     8
4148    12
Name: purchase_date, Length: 4149, dtype: int32

The purchase _date column was successfully converted to datetime format to enable time-based operations and trend analysis.

In [13]:
df['age'].describe()

count    4149.000000
mean        6.717763
std         3.175610
min         1.000000
25%         4.000000
50%         7.000000
75%         9.000000
max        12.000000
Name: age, dtype: float64

Age values appear within acceptable limits.

In [14]:
df['device_type'].unique()

<StringArray>
['Defibrillator', 'Infusion Pump',   'MRI Scanner', 'X-Ray Machine',
   'PET Scanner',    'CT Scanner']
Length: 6, dtype: str

Reviewed categorical diversity and checked for spelling inconsitencies.

In [15]:
df['device_age_category'] = pd.cut(
    df['age'],
    bins=[0, 3, 7, 15],
    labels=['New', 'Mid-Life', 'Old']
)
df[['age', 'device_age_category']].head()

   age device_age_category
0    7            Mid-Life
1    5            Mid-Life
2    2                 New
3    4            Mid-Life
4    6            Mid-Life

## Closing Summary

On Day 02, the dataset was validated for structural consistency.

Actions performed:
- Standardized column names.
- Verified data types.
- Converted date columns.
- Checked numerical ranges.
- Reviewed categorical uniqueness.
- Created derived features for future grouping.

The dataset is now better prepared for deeper exploratory analysis